@model CRS.Models.RedemptionReportModel
@using CRS.BusinessEntities
@{
    ViewBag.Title = "Commission Report(s)";

    bool showreport = !string.IsNullOrEmpty(CRS.BusinessEntities.Reports.ReportData.ReportPath);
    string showreportfunction = "ShowReport()";
    if (showreport && ViewBag.IsButtonClicked)
    {
        showreportfunction = "ShowReport()";
    }
    else
    {
        showreportfunction = "";
    }

   
}

@section styles{
   @Styles.Render("~/Content/themes/base/css")
  
   <style>
       .ui-datepicker {
	    z-index : 9999 !important;
       }

       .ui-widget select {
            font-size : 12px !important;
        }

       /* tabs */
      .ui-tabs-vertical { width: 50em; }
      .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 8em; }
      .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
      .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
      .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
      .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 39em;}
      .ui-tabs {
           margin-bottom: 20px;
       }
      .ui-tabs-anchor {font-size: 12px;}
      /*tabs*/
     
       
   </style>
}

@section jquerylibrary{
    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
}

@section scripts{

    <script type="text/javascript">
        function ShowReport() {
            var url = "../Reports/ReportViewer.aspx";
            window.open(url);
        }

        $(document).tooltip({
            position: {
                my: "center bottom-20",
                at: "center top",
                using: function (position, feedback) {
                    $(this).css(position);
                    $("<div>")
                    .addClass("arrow")
                    .addClass(feedback.vertical)
                    .addClass(feedback.horizontal)
                    .appendTo(this);
                }
            }
        });

        $(document).ready(function () {
            setTimeout('@showreportfunction', 1000);
            $(".date").datepicker();
            $('#listtable').dataTable();
            /*tabs*/
            $("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
            $("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
           
           

            $("#tabs").bind("click", function (event, ui) {
                $('#lastTab').attr('value',$('#tabs ul li[aria-selected=true] a').html());
            })
            /*tabs*/

            /*tooltip*/
            

            $('#datefrom').attr('value', '@DateTime.Now.Month/01/@DateTime.Now.Year');
            $('#dateto').attr('value', '@DateTime.Now.Date.ToShortDateString()');
        });


       

    </script>
}



@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
          
    @Html.ValidationSummary(true)
          
   
    <fieldset>
     @Html.HiddenFor(m => m.LastTab,  new {  @id = "lastTab"})
        

        


  
    
    <div id="tabs">
<ul>
<li title="Inflows"><a href="#tabs-1">Inflows</a></li>
<li title="Bookings"><a href="#tabs-2">Bookings</a></li>
<li title="Summary of Commissions"><a href="#tabs-3">Summary</a></li>
<li title="Incentives"><a href="#tabs-4">Incentive</a></li>
<li title="Redemption Report"><a href="#tabs-5">Redemption</a></li>
</ul>
<div id="tabs-1">
<h2>Content heading 1</h2>
<p>Proin elit arcu, commodo a, risus. </p>
</div>
<div id="tabs-2">
<h2>Content heading 2</h2>
<p>Morbi tincidunt, Mauris consectetur tortor et purus.</p>
</div>
<div id="tabs-3">
<h2>Content heading 3</h2>
<p>Mauris eleifend lacus.</p>
<p>Duis cursus. si lectus, erit.</p>
</div>
<div id="tabs-4">
<h2>Content heading 3</h2>
<p>Mauris eleifendt lorem.  nec, luctus a, lacus.</p>
<p>Duis cursus. t hendrerit.</p>
</div>
<div id="tabs-5">
          <div class="columnBox2 columnBox3">
            
            <div>
                @Html.LabelFor(m => m.DateFrom)
                @Html.TextBoxFor(m => m.DateFrom, new { @class = "date", @id = "datefrom" ,title="Date From"})
                @Html.ValidationMessageFor(m => m.DateFrom)
            </div>
           

             
        </div>

         <div class="columnBox2 columnBox3">
           
            <div>
                @Html.LabelFor(m => m.DateTo)
                @Html.TextBoxFor(m => m.DateTo, new { @class = "date", @id = "dateto", title="Date To"})
                @Html.ValidationMessageFor(m => m.DateTo)
            </div>

             
        </div>

</div>
</div>



      </fieldset>           
    <input type="submit" title="Generate Report" value="Generate Report" class="inputBtn" />
                
}



