@*@using CRS.BusinessEntities*@
@{
	ViewBag.Title = "EXPENSE APPROVAL & PAYMENT REQUEST FORM (Channel)";
}

@section styles {
 <link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
 <link href= "@Url.Content("~/Content/ambience/jquery.ambiance.css")" rel="stylesheet" />
 <link href="@Url.Content("~/Content/ambience/demo.css")" rel="stylesheet" />
 <link href="@Url.Content("~/Content/Bootstrap/bootstrap.min.css")" rel="stylesheet" type="text/css" />
 <link href="@Url.Content("~/Content/Bootstrap/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
 <link href="@Url.Content("~/Content/Bootstrap/bootstrap-image-gallery.min.css")" rel="stylesheet" type="text/css" />   		
    <style type="text/css">
		#tblSearchFilter td {
			background-color: transparent;
			border: medium none !important;
			font-size: 14px;
			width: 200px;
		}
		
	   .contentHolder  .dataTables_filter  input {
			float: right;
			margin: 0 0 0 0 ;
		}
		.contentHolder .dataTables_filter label {
			float: none;
		}
		.compactRadioGroup LABEL,
		 .compactRadioGroup INPUT {
			display: inline !important;
			width: auto !important; 
			margin-right: 5px;  
			margin-left: 5px;   
		}

		.labelInline {
			clear:both;
		}
		.selectInline {
			float:left;
		}
		.dropdownDate 
		{
			  display:inline-block;
			  margin:0 10px 10px 0;
			  *display:inline;
			  zoom:1;
		} 
	
	</style>
 
   
}

@section featured {
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>@ViewBag.Title.</h1>
				
			</hgroup>
		</div>
	</section>
}

@section jquerylibrary{
	 <script src= "@Url.Content("~/Scripts/jquery-2.0.2.min.js")" type="text/javascript"></script>
}

@section scripts {
		<script src="@Url.Content("~/Scripts/knockout-2.2.1.js")" type="text/javascript"></script>
		@Scripts.Render("~/bundles/ajaxwrapper")
		@Scripts.Render("~/bundles/koMappings")
		@Scripts.Render("~/bundles/koBindings")
		<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.1.min.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/jquery.filter_input.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/Application/EAPRChannel.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/jquery.blockUI.min.js")" type="text/javascript"></script>
	    <script src="@Url.Content("~/Content/ambience/jquery.ambiance.js")"  type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/Application/ReportHelper.js")"  type="text/javascript"></script>
        <script src="@Url.Content("~/Content/Bootstrap/bootstrap-image-gallery.min.js")" type="text/javascript"></script> 	
        <script src="@Url.Content("~/Content/Bootstrap/bootstrap.js")" type="text/javascript"></script> 
    }
<div id="divEaprChannelSearch" data-bind="visible: isUser" >
	<div class="columnBox2">
		<div>
			<label for="ddReport">Type:</label>	
			<div class="shortCombo">
				<select name="ddReport" data-bind="options: reportList,optionsText: 'Name', optionsValue: 'Code', value: selectedReport"></select>
			</div>
		</div>
		<div>
			 <label>Channel:</label>
			 <div class="shortCombo">
						<select id="ddChannel" data-bind="options: channelList,
							optionsText: 'Name',
							optionsValue: 'Code',
							value: selectedChannel,
							optionsCaption: '-- All --'" ></select>
			</div>
		</div>

	</div>
    <div class="columnBox2">
		 @*<div>for steve this is the first field</div>*@
		 <div>
				<div class="daily">
					<label for="dailyDate" class="daily">Start:</label>
					<input type="text" name="dailyDate" class="daily" id="dtDaily" data-bind="value: dateFrom" />
				</div>
				<div class="weekly">
					<label for="startDate" class="weekly">Start:</label>
					<input id="dtWeeklyFrom" class="weekly" data-bind="datepicker: dtWeeklyFrom, datepickerOptions: {
															showOn: 'button',
															buttonImage: '../Content/images/calendar-icon.png',
															buttonImageOnly: true,
															beforeShowDay: allowedDays,
															onSelect: setWeeklyDate,
															maxDate: '-1d'
														}" />
				</div>
				<div class="others">
					<label for="othersDateFrom" class="others">Start:</label>
					<input name="othersDateFrom" id="dtOthersFrom" class="others" data-bind="datepicker: dtOthersFrom, datepickerOptions: {
																				showOn: 'button',
																				buttonImage: '../Content/images/calendar-icon.png',
																				buttonImageOnly: true,
																				maxDate: '-1d'
																			}" />
				</div> 
				<div class="monthly">
					<label>Month:</label>
					<div class="shortCombo">
						<select data-bind="options: monthsList,
										optionsText: 'Name',
										optionsValue: 'Code',
										value: selectedMonth" ></select>
					</div>
				</div>
				<div class="quarterly">
					<label>Quarter:</label>
					<div class="shortCombo">
						<select data-bind="options: quarterList,
										optionsText: 'Name',
										optionsValue: 'Code',
										value: selectedQuarter" ></select>
					</div>
				</div>
				<div class="yearly">
					<label>Year:</label>
					<div class="shortCombo">
						<select data-bind="options: yearsList,
										optionsText: 'Name',
										optionsValue: 'Code',
										value: selectedYear" ></select>
					</div>
				</div>
		</div>
	    <div></div>
	</div>
	<div class="columnBox2">	
		@*<div>for steve this is the second field</div>*@
		<div>
			<div class="weekly">
				<label for="endDate" class="weekly">End:</label>
				<input id="dtWeeklyTo" class="weekly" data-bind="enable: false, datepicker: dtWeeklyTo, datepickerOptions: {
																	showOn: 'button',
																	buttonImage: '../Content/images/calendar-icon.png',
																	buttonImageOnly: true,
																}" />
			</div>
			<div class="others">
				<label for="othersDateTo" class="others">End:</label>
				<input name="othersDateTo" id="dtOthersTo" class="others" data-bind="datepicker: dtOthersTo, datepickerOptions: {
																		showOn: 'button',
																		buttonImage: '../Content/images/calendar-icon.png',
																		buttonImageOnly: true,
																		maxDate: '-1d'
																	}" />
			</div>
			<div class="monthly">
					<label>Year:</label>
					<div class="shortCombo">
						<select data-bind="options: yearsList,
										optionsText: 'Name',
										optionsValue: 'Code',
										value: selectedYear" ></select>
					</div>
			</div>
			 <div class="quarterly">
					<label>Year:</label>
					<div class="shortCombo">
						<select data-bind="options: yearsList,
										optionsText: 'Name',
										optionsValue: 'Code',
										value: selectedYear" ></select>
					</div>
			</div>
		</div>

	</div>
</div>
<div class="clear"></div>
  @if ( (ViewBag.PageAccess as CRS.BusinessEntities.UserPageAccess).CanPrint)
    {
        <button data-bind="click: viewEAPRChannelForm, visible: isUser" style="margin-top:10px; margin-bottom:10px">
					        <strong>EAPR</strong>
        </button>
    }      

<div style ="clear:both"></div>



		
		