@model CRS.Models.ChangePasswordModel
@{
    Layout = null;
    ViewBag.Title = "Change Password";
}

<!DOCTYPE html>

<html>
    <head>
        <title></title>
        @Styles.Render("~/Content/reset.css") 
		@Styles.Render("~/Content/master.css")
        <style>
            #forgotloginlink {
               float: right;
               padding: 5px 20px 0 0;
            }
            .field-validation-error span { left: 110px; top: 34px; }
            .validation-summary-errors { color: red; left: 290px; font-size: 13px; position: absolute; bottom: 15px; }
        </style>
        
      
        <!--[if IE 8]>   <link href="@Url.Content("~/Content/ie8.css")" rel="stylesheet" type="text/css" /> <![endif]-->
        <!--[if IE 9]>   <link href="@Url.Content("~/Content/ie9.css")" rel="stylesheet" type="text/css" /> <![endif]-->
        <!--[if IE 10]>   <link href="@Url.Content("~/Content/ie9.css")" rel="stylesheet" type="text/css" /> <![endif]-->
        @Scripts.Render("~/bundles/modernizr")
        <script src="~/Scripts/jquery-1.7.2.min.js"></script>
        <script type="text/javascript">
            function RedirectToLogin() {
                var url = "../LoginReferror";
                //window.location.href = url;
            }

            $(document).ready(function () {
                
            });


        </script>
        
    </head>
<body>
<div class="lineTop"></div>
<div id="wrapper">
	<div class="blueBackground"></div>
	<div id="innerWrapper">
    	
    <div class="mainBody">
    	<div class="loginLogo">
        	<a href="#">
            	<img src="@Url.Content("~/images/loginLogo.jpg")"  />
            </a>
        </div>
        <div class="loginText">Application Tracking System</div>
    	@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
           <div class="loginBody">
        	<div class="loginInner">
                @if (ViewBag.PasswordChanged == null)
                {
                     <h2>Change Password</h2>
                }
                else {
                    <h2>@ViewBag.PasswordChanged</h2>
                }
                
                <span class="loginLine"></span>
                
                <div class="loginInput">
                	@Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
               
                  
                <div class="loginInput">
                	@Html.LabelFor(m => m.NewPasswordConfirm)
                    @Html.PasswordFor(m => m.NewPasswordConfirm)
                    @Html.ValidationMessageFor(m => m.NewPasswordConfirm)
                </div>
                 
                <div class="clear"></div>
                <br /><br />
                <div style="width: 50%; margin: 0 auto;"> 
                    <button type="submit">Change Password</button>
                </div>

                
            </div>
        </div>
     }
    </div>
    </div>
</div>
<div class="clear"></div>
<div class="footer">
	<div class="innerFooter">
    
    </div>
</div>

     @Scripts.Render("~/Scripts/jquery-1.7.2.js")
     <script src="~/Scripts/jquery-ui-1.10.2.min.js"></script>
     @Scripts.Render("~/bundles/jqueryval")
    
    <script type="text/javascript" src="@Url.Content("~/Scripts/master.js")"></script>
       
           
 </body>
</html>

