@model CRS.Models.ForgotPasswordModel
@{
    Layout = null;
    ViewBag.Title = "Forgot Password";
}

<!DOCTYPE html>

<html>
    <head>
        <title></title>
        @Styles.Render("~/Content/reset.css") 
		@Styles.Render("~/Content/master.css")
        <style>
            #forgotloginlink {
               float: right;
               padding: 5px 20px 0 0;
            }
            .field-validation-error span { left: 110px; top: 34px; }
            .validation-summary-errors { color: red; left: 290px; font-size: 13px; position: absolute; bottom: 15px; }
            .errormsg {
                color:red;
                font-size: small;
                text-align: center;
            }
            .divCenter {
                width: 50%;
                margin: 0 auto;
            }
        </style>
      
        <!--[if IE 8]>   <link href="@Url.Content("~/Content/ie8.css")" rel="stylesheet" type="text/css" /> <![endif]-->
        <!--[if IE 9]>   <link href="@Url.Content("~/Content/ie9.css")" rel="stylesheet" type="text/css" /> <![endif]-->
        <!--[if IE 10]>   <link href="@Url.Content("~/Content/ie9.css")" rel="stylesheet" type="text/css" /> <![endif]-->
        @Scripts.Render("~/bundles/modernizr")
      
        
    </head>
<body>
<div class="lineTop"></div>
<div id="wrapper">
	<div class="blueBackground"></div>
	<div id="innerWrapper">
    	
    <div class="mainBody">
    	<div class="loginLogo">
        	<a href="#">
            	<img src="@Url.Content("~/images/loginLogo.jpg")"  />
            </a>
        </div>
        <div class="loginText">Application Tracking System</div>
    	@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
           <div class="loginBody">
        	<div class="loginInner">
                @if (ViewBag.PostBackMessage == null)
                {
                     <h3 style="text-align:center;">An email will be sent with instructions</h3>
                }
                else {
                    <div class="divCenter">
                         <span class="errormsg">@ViewBag.PostBackMessage</span>
                    </div>
                   
                }
                <span class="loginLine"></span>
                
                <div class="loginInput">
                	@Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="clear"></div>
                <br />
                <div style="width: 80%; margin: 0 auto;">  
                    <button type="button" onclick="history.back();">Back</button> 
                    <button type="submit">Send Email</button>                 
                </div>

                
            </div>
        </div>
     }
    </div>
    </div>
</div>
<div class="clear"></div>
<div class="footer">
	<div class="innerFooter">
    
    </div>
</div>

     @Scripts.Render("~/Scripts/jquery-1.7.2.js")
     <script type="text/javascript" src="~/Scripts/jquery-ui-1.10.2.min.js"></script>
     @Scripts.Render("~/bundles/jqueryval")
    
    <script type="text/javascript" src="@Url.Content("~/Scripts/master.js")"></script>
       
           
 </body>
</html>

